#floor{
    width: 100%;
    height: 100px;
    background-color: tan;
    position: absolute;
    top: 800px;
}
#blub{
    height: 50px;
    position: absolute;
    top: 500px;
    left: 100px;
    z-index: 1;
}
.platform{
    width: 100px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border-radius: 10px;
    background-image: url("img/futuristic-platform\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
}
body{
    margin: 0;
    overflow: hidden;
    background-color: #9966dbad;
}
#game{
    top: 50px;
    margin-top: 20px;
    width: 900px;
    height: 900px;
    border: 3px dashed greenyellow;
    border-radius: 10px;
    position: relative;
}